// Styles for About page

@import "../base/base"; 

.site-main{

    .post-7{
        margin: 16px 20px;
        
        .entry-title{
            text-align: center;
            font-weight: $fontSemi;
        }
    
        .wp-image-63{
            border-radius: 3px;
        }
    
        .my-toolkit{
            text-transform: uppercase;
            text-align: center;
        }

        .col{
            columns: 2;
            font-size: 17px;    
        }
    }    
    .btn-container{
        a.btn-link-contact,
        a.btn-link-work{
            color: white;
            background-color: black;
            display: block;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: $fontBold;
            width: 308px;
            margin: 0 auto;
            margin-top: 8px;
            text-align: center;
            border: 2px solid black;
            border-radius: 3px;
            padding: 10.672px 21.328px;

             &:hover, &:focus, &:active {
                 opacity: 1;
                 background-color: #f7f7f7;
                 border: 1px solid black;
                 color: black;
                 transition: all 0.1s ease-in-out;
                 transition-delay: 0.2s;
                
            }   
        }

    }            

}//end main
