// Styles for Contact page

@import "../base/base";


.page-template-default{
    background-image: url('images/bgnd-round.jpg');
    background-repeat: repeat;

    .site-main{
    
        .post-11{
            margin: 16px 20px;
            height: 60vh;
            text-align: center;
            
            .entry-title{
                text-align: center;
                font-weight: $fontSemi;
            }
    
            
            a{
                text-decoration: none;
                color: #2c3233;
                font-weight: 700;
            }
            .social{
                display: flex;
    
                .linkedin, .github{
                    display: inline-block;
                    margin: 0 auto;
                    
                    &:hover, 
                    &:focus, 
                    &:active {
                            opacity: 1;
                            fill: rgb(56, 56, 56);
                            color: #f7f7f7;
                            transition: all 0.1s ease-in-out;
                            transition-delay: 0.2s;
                                
                        }   
        
                }
                
            }
        
            @media (min-width: 500px) {
                padding: 0 5rem 0 5rem;
                height: 65vh;
                
                .social{
                    text-align: center;
                        .linkedin, .github{
                            display: inline-block;
                            margin: 0 auto;
                        }
                }
            
            }
            @media (min-width: 350px) {
                @include mc;
                max-width: 330px;
                padding: 0.8rem;
            }
            @media (min-width: 410px) {  
                max-width: 360px;
                padding-right: 2rem;
                padding-left: 2rem;  
            }   
            
            @media (min-width: 550px){
                max-width: 500px;
                
            }
            
            @media (min-width: 700px){
                max-width: 600px;
            }    
            
            @media (min-width: 800px){
                max-width: 700px;
                
            }
     
        }
    
    }
    

}
