// Styles for Footer
@import "../base/base"; 
@import "../abstracts/mixins/mixins"; 


/* Footer
--------------------------------------------- */

.site-footer {
    margin-bottom: 70px;

    .site-info{
        
        font-weight: $fontReg;
        letter-spacing: 1px;
        font-size: 0.8em;
        text-transform: uppercase;
        padding: 16px 40px;
        margin: 0;
        text-align: right;
        max-height: 138px;

        @media (min-width: 350px) {
            @include mc;
            max-width: 330px;
            padding: 0.8rem;
            margin: auto;
        }
        @media (min-width: 410px) {  
            max-width: 360px; 
        }   
        
        @media (min-width: 550px){
            max-width: 500px;
            margin: auto;
            
        }
        
        @media (min-width: 700px){
            max-width: 600px;
            // margin-right: 32px;
            
        }    
        
        @media (min-width: 800px){
            max-width: 700px;
            margin-right: 145px;
            
        }
    }
    
}

