// Styles for Header

@import "../base/base"; 
@import "../abstracts/mixins/mixins"; 

.site-header {
    // background-color: red;
    
    .site-branding {
        padding: 20px; 
        padding-bottom: 0px; 
        margin-top: 8px;  
        

        @media (min-width: 410px) {
             padding-left: 2rem;    
             width: 360px;
        }   

        @media (min-width: 500px) {
             padding: 16px 32px;

        }
        @media(min-width: 640px){
            @include mc;
        }

    }
    
    .custom-logo{
        // width: 150px;
        // height: 150px;
        padding: 0px;
        
    } 

    @media(min-width: 640px){
        
        display: flex;
        padding-right: 32px;
    }
    
}