// Styles for Header

@import "../base/base"; 
@import "../abstracts/mixins/mixins"; 

.site-header {
	
    .site-branding {
        padding: 20px;  
        margin-top: 8px;  
        
        @media (min-width: 500px) {
            padding: 16px 32px;
        }
    }
    
    .custom-logo{
        width: 150px;
        height: 150px;
    }
    
}