// Styles for Navigation

$animate: all 0.2s ease-in-out;

.main-navigation {
	display: inline;
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	background-color: black;
	
	
	
	.menu {
		
		display: flex;
		justify-content: space-around;
		list-style: none; 
		padding: 0;
		margin: 0px;
		
		a {
			font-size: 15px;
			text-decoration: none;
			display: flex;
			flex-direction: column;
			text-transform: uppercase;
			align-content: center;
			padding: 8px;
			color: #f7f7f7;
			// margin: 8px;			

			&:hover, &:focus, &:active {
				text-decoration: underline;
				color: #f7f7f7;
			} 
			

		}
		svg{
			width: 35px;
			height: 35px;
			display: block;
			margin: 0 auto;
			// padding-top: 10px;
			fill: #f7f7f7;

		}
	}

	@media (min-width: 640px) {
			@include mc;
			background-color: transparent;
			width: auto;
			position: relative;
			top: 0;
			align-self: center;
			margin-left: auto;

			.menu {
				display: flex;
				justify-content: center;

				
				a {
					color: black;
					font-weight: $fontBlack;
					letter-spacing: 5px;
					position: relative;
					
					&:hover, &:focus, &:active {
						text-decoration: underline;
						color: black;
				   } 
				
				}

				svg{
					display: none;
				}
			}

		 
	}

}