a.button-link{
	color: black;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: $fontBold;
	max-width: 170px;
	margin: 0 auto;
	margin-top: 19.92px;
	text-align: center;
	border: 2px solid black;
	border-radius: 3px;
	padding: 10.672px 21.328px;

	&:hover, &:focus, &:active {
		opacity: 1;
		background-color: black;
		color: #f7f7f7;
		transition: all 0.1s ease-in-out;
		transition-delay: 0.2s;

		
	}   
}